.content__photo-grid {
    padding: 0 48px;
    box-sizing: border-box;
}

@media screen and (max-width:984px) {
    .content__photo-grid {
        padding: 0 24px;
    }
}

@media screen and (max-width:568px) {
    .content__photo-grid {
        padding: 0 16px;
    }
}