.content__section {
    padding: 0 148px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

.content__section:nth-child(5) {
    padding: 0 48px;
}

.content__section:nth-child(6) {
    padding: 0 48px;
}

.content__section:nth-child(3) {
    padding: 0 48px;
}

@media screen and (max-width:1140px) {
    .content__section {
        padding: 0 48px;
    }
    .content__section:nth-child(5) {
        padding: 0;
    } 
}

@media screen and (max-width:984px) {
    .content__section {
        padding: 0px;
    }

    .content__section:nth-child(2) {
        padding: 0 24px;
    }

    .content__section:nth-child(3) {
        padding: 0 24px;
    }

    .content__section:nth-child(4) {
        padding: 0 24px;
    }
    .content__section:nth-child(6) {
        padding: 0 24px;
    }
}

@media screen and (max-width:568px) {
    .content__section:nth-child(2) {
        padding: 0 16px;
    }
    
    .content__section:nth-child(3) {
        padding: 0 16px;
    }
    
    .content__section:nth-child(4) {
        padding: 0;
    }

    .content__section:nth-child(6) {
        padding: 0 16px;
    }
}