.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0 48px;
    box-sizing: border-box;
    margin: 0 auto;
}


@media screen and (max-width:984px) {
    .footer {
        padding: 0 24px;
    }
}


@media screen and (max-width:730px) {
    .footer {
        flex-direction: column;
        padding: 0 16px;
    }
}